<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>计算器页面</h2>
<form action="calculator" method="post">
    <input type="text" name="number1"> +
    <input type="text" name="number2"> =
    <br>
    <input type="submit" value="计算" onclick="calculator();">
</form>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script type="text/javascript">

    function calculator(){
        console.log("点击计算按钮")
        var one = $("[name=number1]").val()
        var two = $("[name=number2]").val()

        $.get("api/calculate",{
            number1:one
            number2:two
        },function(result){
            console.log('返回的结果',result);
    });
    }


</script>
</body>
</html>